<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-avatar>
        <img src="../../../assets/icon/favicon.png" alt="Avatar del usuario">
      </ion-avatar> -->
      <ion-label class="ion-margin-start">
        <h1>
          Postear
        </h1>
      </ion-label>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openConfiguracion()">
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

