<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <section class="section-1">
    <div class="logo">
      <img src="../../../assets/icon/favicon.png" alt="" srcset="">
    </div>

    <form>
      <h1>Restablecer contraseña</h1>

      <p>Ingrese la dirección de correo electrónico con su cuenta y le enviaremos un correo electrónico con la confirmación para restablecer su contraseña</p>

      <div class="input-container">
        <ion-input label="Email" type="email" label-placement="floating" fill="outline" placeholder="Ingrese su correo"></ion-input>
      </div>

      <div class="button-container">
        <ion-button expand="full" mode="ios"  shape="round">
          Enviar
          <ion-icon slot="end" name="log-in-outline"></ion-icon>
        </ion-button>
      </div>

    </form>
  </section>
</ion-content>
