<ion-card>
  <ion-card-header>
    <ion-card-title>Awesome Title</ion-card-title>
    <p>Fecha: 2023-06-20 15:00:365</p>
  </ion-card-header>
  <ion-card-content>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero veritatis nulla maxime quidem itaque. Sapiente iste voluptatem nam ipsum quisquam nobis minus hic. Fugit quas veniam tenetur quaerat ipsum accusantium?
  </ion-card-content>
  <ion-button fill="clear">Editar</ion-button>
  <ion-button fill="clear">Eliminar</ion-button>
</ion-card>